<form class="example-form" [formGroup]="form" *transloco="let t">
  <mat-form-field class="full-width">
    <textarea matInput [placeholder]="t('app.form.address')" formControlName="address"></textarea>
  </mat-form-field>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput [placeholder]="t('app.form.city')" formControlName="city" />
          <mat-error *ngIf="form.controls.city.errors as errors">{{ errors | i18nErr: t }}</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput [placeholder]="t('app.form.state')" formControlName="state" />
          <mat-error *ngIf="form.controls.state.errors as errors">{{ errors | i18nErr: t }}</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <button type="submit" mat-button>{{ t('app.form.submit') }}</button>
</form>
